*{
padding:0;
margin:0;
box-sizing:border-box;
}
body{
    background-color: #7DF9FF;
}
h1{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.big-container{
    display:flex;
    justify-content: center;
    height:80vh;
    width:100%;
    
}
.container{
    display:flex;
    background-color: #E0FFFF;
    width:98%;
    height:100%;
    border-radius:20px;
    padding-top: 10px;
    padding-bottom: 15px;
    gap:1.5rem;
    
}
.add-info{
    display: flex;
    flex-direction: column;
    width:25%;
    height:100%;
    padding-left: 8px;
    margin-top: 20px;
    gap:1.3rem;
       /* fixed width only */

}

.add-budget{
    width:100%;
    height:23%;
    display:flex;
    flex-direction: column;
    gap:1.3rem;
    padding-left: 10px;
    padding-top: 10px;
    background-color: blanchedalmond;
    border-radius: 20px;
}
.add-expense{
    width:100%;
    height:35%;
    display:flex;
    flex-direction: column;
    gap:1.3rem;
    padding-left: 10px;
    padding-top: 10px;
    background-color: blanchedalmond;
    border-radius: 20px;
}
h3{
    text-align: center;
}
input{
    width:95%;
}
button{
    width:95%;
}
.show-info{
    display: flex;
    flex-direction: column;
    height:100%;
    width:65%;
    padding-top: 10px;
    gap:1.3rem;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 10px rgba(137, 123, 123, 0.092);
    
}
.information{
    display:flex;
    width:100%;
    justify-content: space-around;
    align-items: center;
    gap:1rem;
}
.amt{
    display:flex;
    background-color: #7DF9FF;
    height:30px ;
    align-items: center;
    border-radius: 5px;
    width:170px;
    justify-content: center;
}
#text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    padding-left: 10px;
}
.table{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.exp{
    text-align: center;
    width:28%;
}
.newtable{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.remove{
    background-color: red;
    color: white;
    border: none;
    width: 100px;
    height: 23px;
    border-radius: 6px;
}