*{
    margin:0;
    padding:0;
     text-align: center;
}
h1{
    background-color:#081b31 ;
    color:white;
    height:3rem;
    line-height: 3rem;
    
}
.choice{
    height:135px;
    width:135px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    background-color: #081b31;
    cursor:pointer;

}
img{
    height:120px;
    width:120px;
    border-radius: 70px;
    object-fit:cover ;
}
.choices{
    
    display:flex;
    justify-content: center;
    gap:2rem;
    margin-top: 4rem;

}
.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 3rem;
    gap:5rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 2.5rem;
}
#msg{
    background-color:#081b31 ;
    color:#fff;
    font-size: 1.5rem;
    display: inline;
    margin-top: 0px;
    border-radius: 0.2rem;

}