*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background:pink;
}
#heading{
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
    background-color:yellow;
    margin-bottom:10px;
}
p{
    font-size: 1.3rem;
}
h4{
    font-size: 1.5rem;
}
